body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(229, 231, 235);
}

/* Navbar*/
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid lightgrey;
    padding: 20px;
}

nav {
    display: flex;
}

nav div {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
}

nav div:hover {
    background-color: rgb(219, 234, 254);
    border-radius: 10px;
}

nav div a {
    text-decoration: none;
    color: rgb(55, 65, 81);
    display: flex;
    align-items: center;
    gap: 10px;
}

/*nav div a:hover{*/
/*    color: rgb(29, 78, 216);*/
/*}*/
#logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.connexion {
    padding: 5px;
    display: flex;
    align-items: center;
}

.connexion a {
    text-decoration: none;
    color: rgb(55, 65, 81);
    gap: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;

}

/* Main */
main {
    background-color: rgb(229, 231, 235);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3vh;
    color: rgb(55, 65, 81);
    margin-top: 2vh;
    margin-bottom: 0;
}

.description p {
    font-size: 2vh;
    color: rgb(55, 65, 81);
}

/* Grille statistique */
.tickets, .temps, .satisfaction, .files {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*width: 100%;*/
}

.ticket-info, .temps-info, .satisfaction-info, .files-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(55, 65, 81);
}

.ticket-info p, .temps-info p, .satisfaction-info p, .files-info p {
    margin: 0;
}

.nombreTicket, .nombreTemps, .nombreSatisfaction, .nombreFiles {
    font-weight: bold;
    font-size: 24px;
}

.grille {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px;
    gap: 50px;
    justify-content: center;
}

.header-statistiques {
    margin-bottom: 50px;
}

/* Modules */

.modules {
    padding-bottom: 100px;
}

.grille_module {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    grid-template-rows: auto auto;
    gap: 50px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.borneAccueil, .affichageSalle, .interfaceAgent, .administration {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
    box-sizing: border-box;
}

.borneAccueil:hover, .affichageSalle:hover, .interfaceAgent:hover, .administration:hover, .liste-service-item:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.titre {
    font-size: 2vh;
    font-weight: bold;
}

.borneAccueil-descriptionParent, .affichageSalle-descriptionParent, .interfaceAgent-descriptionParent, .administration-descriptionParent {
    display: flex;
    align-items: center;
    padding: 20px;
}

.borneAccueil-description, .affichageSalle-description, .interfaceAgent-description, .administration-description {
    margin-left: 10px;
}

.borneAccueil-description p, .affichageSalle-description p, .interfaceAgent-description p, .administration-description p {
    margin: 0;
}

.borneAccueil-bulletPoint {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#borneAccueil-btn, #confirmation-btn {
    background-color: rgb(59 130 246);
    color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    display: block;
}

#affichageSalle-btn {
    background-color: rgb(34 197 94);
    color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    display: block;
}

#interfaceAgent-btn {
    background-color: rgb(249 115 22);
    color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    display: block;
}

#administration-btn {
    background-color: rgb(168 85 247);
    color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    display: block;
}

#borneAccueil-btn:hover, #confirmation-btn:hover, #btnSimuler:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: rgb(37 99 235);
}

#interfaceAgent-btn:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: rgb(234 88 12);

}

#affichageSalle-btn:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: green;
}


#administration-btn:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: rgb(126 34 206);
}


/* Borne d'accueil */
.header-bienvenue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

/*.sectionBorneBienvenue{*/
/*    background-color: #e0e7ff;*/
/*    padding: 20px 0;*/
/*    width: 100%;*/
/*}*/

.grilleService {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    grid-template-rows: auto auto;
    gap: 50px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.titreService {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}

.titreServiceListe {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.divNbPersonneStatut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    border-radius: 0.75rem;
    padding: 5px;
    margin-top: 10px;
}

.liste-service-item {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.statutActif {
    border: 2px solid green;
    color: green;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    height: 100%;
}

.statutInactif {
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin: 0;
}

.nbPersonneAttente {
    /*color: rgb(55, 65, 81);*/
    font-weight: bold;
}

.service-info {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(55, 65, 81);
}

.aService {
    text-decoration: none;
    color: rgb(55, 65, 81);
    padding: 10px;
    border-radius: 0.75rem;
}


/* Création d'un ticket */

.sectionDetailService {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.descriptionService {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.descriptionServiceBorne {
    /*margin: 0;*/
}

/*.detailService {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 20px;*/
/*}*/


.div-tempsAttente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}


.div-tempsAttente p {
    margin: 0;
}

.service-informations {
    display: flex;
    justify-content: space-between;
}

.divButton {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

#annuler-btn {
    background-color: rgb(229, 231, 235);
    color: black;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: 90%;
    display: block;
    margin: 10px;
}

#annuler-btn:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: rgb(209, 213, 219);
}

/* Ticket créé */

#retourAccueil-btn {
    background-color: lightgrey;
    color: black;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

#retourAccueil-btn:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: rgb(209, 213, 219);
}

.divRetourAccueil {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.titreServiceTicket {
    font-weight: bold;
    font-size: 10vh;
    color: black;
    text-align: center;
}


/*Affichage dynamique */
.headerDynamique {
    display: flex;
    background-color: rgb(31 41 55);
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vh;
}

.headerDynamique div:last-child {
    margin-right: 10px;
}

.headerDynamique h2:first-child {
    margin-left: 10px;
}

.nomEntreprise {
    color: white;
    font-size: 2vh;
    font-weight: bolder;
    margin: 0;
}

#btnRetour {
    border: none;
    color: white;
    background: none;
    cursor: pointer;
}

.h1SalleAttente {
    color: white;
    margin: 0;
}


#btnSimuler {
    background-color: rgb(59 130 246);
    color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: fit-content;
}

.divDynamique {
    display: grid;
    background-color: rgb(17 24 39);
    padding: 20px;
    min-height: 100vh;
    margin: 0;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.colonneGauche, .colonneMilieu {
    position: relative;
    overflow: hidden;
}

.divAppelEnCours {
    background-color: rgb(31 41 55);
    color: rgb(37 99 235);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#horloge {
    color: white;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.divAppelEnCours h2 {
    font-size: 1.6vh;
    text-align: center;
    margin: 0;
}

#numTicketCourant {
    font-size: 1.5vh;
    font-weight: 600;
    text-align: center;
}

.ticketCourant, .publiciteCourant {
    background-color: rgb(37 99 235);
    display: flex;
    align-items: center;
    color: white;
    border-radius: 1rem;
    padding: 0.15rem;
}

.ticketCourant h1 {
    color: white;
    font-size: 1.5vh;
    margin-bottom: 0;
}

#nomServiceCourant {
    font-size: 1.2vh;
    margin: 0;
}

.ticketCourant p {
    margin: 0;
    padding: 5px;
}

#numeroGuichet {
    font-size: 1.2vh;
    color: rgb(191 219 254)
}


.divPublicite {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.imgPub, .videoPub {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    object-fit: cover;
    border: none;
}

.imgPub.active {
    opacity: 1;
}

.divTemperature {
    background-color: rgb(31 41 55);
    color: white;
    padding: 30px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    width: 350px;
    justify-content: center;
    height: 190px;
    left: 515px;
}

.divTemperature p {
    font-size: 2vh;
    text-align: center;
}

/* colonne de droite*/

.fileAttente, .derniersAppels {
    background-color: rgb(31 41 55);
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.fileAttente h2 {
    color: rgb(251 146 60);
    font-size: 2vh;
    margin-top: 0;
}

.service-div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(55 65 81);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 10px;
    align-items: center;
}


.h3Service {
    margin-top: 0;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
}


.nbPersonneAttenteDiv {
    text-align: center;
}


.nbPersonneAttenteFile {
    margin: 0;
    color: rgb(251 146 60);
    font-weight: 600;
}


.texteEnAttente {
    margin-top: 0;
    color: rgb(156 163 175);
    margin-bottom: 0;
}


/* Derniers appels */

.derniersAppels h2 {
    color: rgb(74 222 128);
    font-size: 2vh;
    margin-top: 0;
}

.numTicketNomServiceDiv {
    display: flex;
    flex-direction: column;
}

.numTicketNomServiceDiv p, .numGuichetStatutDiv p {
    color: rgb(156 163 175);
    margin: 0;
}

.numGuichetStatutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.statutEnAttente {
    background-color: orange;
    color: white;
    border-radius: .25rem;
    width: fit-content;
    padding: .25rem .5rem;
}

.statutTermine {
    background-color: rgb(34 197 94);
    color: white;
    border-radius: .25rem;
    padding: .25rem .5rem;
    text-align: center;
    width: fit-content;
}


/* Interface agent */
.header-interfaceAgent {
    display: flex;
    justify-content: space-between;
}

#dateArrive {
    margin: 0;
}

.titreInterfaceAgent h1 {
    color: black;
}

.titreInterfaceAgent p {
    color: rgb(55, 65, 81);
    margin-top: 0;

}

.divButtonAgent {
    padding: 20px;
}

#btnRetourAgent {
    border: none;
    color: #000;
    background: none;
    cursor: pointer;
}


.agentInfo {
    display: flex;
    align-items: center;
    color: rgb(55, 65, 81);

}

.statutAgentOuvert {
    background-color: rgb(34 197 94);
    color: white;
    border-radius: 9999px;
    width: fit-content;
    padding: .25rem .5rem;
    margin: 20px;
}

.statutAgentFerme {
    background-color: rgb(239 68 68);
    color: white;
    border-radius: 9999px;
    width: fit-content;
    padding: .25rem .5rem;
    margin: 20px;
}

.titreClientActuel h2 {
    margin: 0;
}

.divInterfaceAgent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.sectionInterfaceAgent {
    margin-right: 100px;
    margin-left: 100px;
}

.divClientActuel, .redirectionTickets, .controlePosteAgent, .sessionActuel, .fileAttenteAgent, .historiqueAgent, .divHistorique, .divDetailAgent {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.titreClientActuel {
    display: flex;
    gap: 8px;
}

#infoTicketCourant {
    /*background-color: rgb(239 246 255);*/
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 20px;
}

#appelerSuivant, #btnRediriger, #btnConnexion, #btnDeconnexion, #btnNouveauService {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    padding: .75rem 30px;
}

#appelerSuivant:hover, #btnRediriger:hover, #btnConnexion:hover, #btnDeconnexion:hover, #btnNouveauService:hover {
    background-color: #100f0f;
}

.controlePosteAgent h2 {
    margin-top: 0;
}

.divBoutonPosteAgent {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 10px;
}

#btnOuvrir, #btnPause, #btnFermer, #btnTerminer, #btnRappeler, #btnAbsent {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    border: 1px solid lightgray;
}

.redirectionTickets h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.redirectionTickets p {
    margin-top: 0;
    margin-bottom: 20px;
}

.divInput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.divNumTicket, .divServiceDeroulant {
    display: flex;
    flex-direction: column;
}

.divNumTicket p, .divServiceDeroulant p {
    margin-bottom: 5px;
}


#numTicketRedirection, #serviceDeroulant, #inputNomService, #inputTimeOuverture, #inputTimeFermeture, #inputNomAgent, #inputMailAgent, #inputLoginAgent, #inputMotDePasseAgent, #inputRoleAgent, #inputGuichetAgent, #inputServiceAgent, #inputNomFichier, #inputOrdre, #inputType, #inputNomGuichet, #inputGuichetService, #nomOrganisation, #ouvertureParametres, #fermetureParametres, #selectVoices {
    width: 100%;
    height: 3vh;
    border-radius: .5rem;
    border: 1px solid lightgray;
    /*padding: .5rem .75rem;*/
    font-family: Arial, sans-serif;
}

#btnRediriger {
    width: 100%;
}

.divSessionActuel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.2rem;
}


.sessionActuel h2 {
    margin-top: 0;
}


#statutCourant {
    color: #000;
}


#numTicketCourantAgent {
    color: rgb(37 99 235);
    font-size: 3.5vh;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.divBoutonStatutTicket {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


.divFilAttente {
    background-color: rgb(249 250 251);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nomServiceAgent {
    margin: 0;
    color: rgb(107 114 128)
}


/* Connexion */

.sectionAuthentification {
    height: 100vh;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divConnexion {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;;
}

.divConnexion h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(55, 65, 81);
}

#login, #motDePasse {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
    height: 3rem;
}

/*detail agent*/
.sectionDetailAgent h2 {
    margin: 0;
}

.descriptionAgent {
    margin-top: 0;
}

.sectionDetailAgent {
    margin: 40px;
}

#btnDeconnexion a {
    color: white;
    text-decoration: none;
}

.divStautAgentDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.divParametresAgentDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divEnfantAgentDetail {
    background-color: ghostwhite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: .5rem;
    width: auto;
    border: 1px solid lightgray;
    text-align: center;
    color: rgb(55, 65, 81);
}


.divButtonDeconnexion {
    display: flex;
    justify-content: end;
}

.nomAgent {
    margin: 0;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

/* Administration*/
.sectionAdministrationHeader {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sectionAdministrationHeader h2 {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.selectionVue {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto 40px auto;
    justify-content: space-evenly;
}

#btnVueEnsemble, #btnServices, #btnAgents, #btnPublicites, #btnParametres, #btnGuichets {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    gap: 10px;
    cursor: pointer;
}

.grilleAdmin {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;

}

.divActiviteServices, .divPerformanceAgents {
    border-radius: 1rem;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.divChildActiviteServices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: white;
}

.nomServiceNbPersonne, .statutNbTickets {
    display: flex;
    flex-direction: column;
}
.statutNbTickets{
    text-align: center;
}
.statutInactifAdmin {
    background-color: red;
    color: white;
    border-radius: .25rem;
    padding: .25rem .5rem;
    margin: 0;
    text-align: center;
    width: fit-content;
}

.titreServiceAdmin, .nbTicketService {
    color: black;
    margin: 0;
}

.nbPersonneAttenteAdmin {
    color: rgb(55, 65, 81);
    margin: 0;
}


/*services administration*/


.headerServiceAdministration {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto auto;
    align-items: center;
}

.divService {
    display: grid;
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    grid-template-columns: 2fr 0.2fr;
    align-items: center;
    gap: 15px;
}

.divService div div p {
    word-break: break-word;
}

.divNomServiceHoraire {
    display: flex;
    flex-direction: column;
}

.divNomServiceHoraireStatut {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 1rem;
}

#btnModifierService, #btnSupprimerService, #btnHaut, #btnBas {
    border: none;
    background: none;
    cursor: pointer;
}

/* Modal */
.modal {
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 20px;
    width: 600px;
    z-index: 1000;
}

.divParametres {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divCheckbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#buttonSave, #buttonClose {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
}

#buttonSave {
    background-color: #000000;
    color: white;
}

#buttonSave:hover {
    background-color: #151313;
    color: white;
}

#buttonClose:hover {
    background-color: lightgrey;
    color: black;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Agents administrateur */
.divAgent {
    display: grid;
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    /*justify-content: space-between;*/
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 15px;
}

.divAgent div p {
    word-break: break-word;
}

.divStatutAgent {
    border-radius: 9999px;
    background: #c7d6ee;
    color: rgb(30 64 175);
    padding: .25rem .5rem;
}

.divListeServices {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}


.nbAutresServices {
    color: rgb(107 114 128);

}

/* Publicités administrations */
.divPubliciteAdministration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1000px;
    margin: 0 auto 40px auto;
}

.divPubliciteChild {
    background-color: white;
    border-radius: .75rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.imgPubliciteAdmin {
    width: 500px;
    border-radius: .75rem .75rem 0 0;
    height: 150px;
    object-fit: cover;
    border: none;
}

.divParentsBtnFleche {
    display: flex;
    justify-content: space-between;

}

.statutActifPub {
    background-color: rgb(34 197 94);
    color: white;
    border-radius: 9999px;
    padding: .25rem .5rem;
    text-align: center;
    width: fit-content;
}

.divStatutOrdre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottomAction {
    padding: 1rem;
}


#btnHaut, #btnBas, .ordre {
    color: rgb(107 114 128);
}


/* Guichet administration*/
.divGuichet {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
    display: grid;
    grid-template-columns: 2fr 0.2fr;
    align-items: center;
    border-radius: 1rem;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto 40px auto;
}

.divGuichet div div p {
    word-break: break-word;
}

.divParametresGuichet {
    display: flex;
    flex-direction: column;
}

.divParametresGuichet p {
    margin: 0;
}


.divParentStatistiqueStatut {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    /*gap: 30px;*/
}


.divParametresAdministration {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 50px;
    /*grid-auto-rows: minmax(100px, auto);*/
    max-width: 1000px;
    margin: 0 auto 40px auto;
}

.divChildParametresAdministration {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    /*margin-bottom: 50px;*/
}

#nomOrganisation {
    width: 100%;
}

#ouvertureParametres, #fermetureParametres {
    width: 100%;
}

.divInputTime {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.titreDivParamatres {
    margin-top: 0;
}

.inputSlider {
    width: 100%;
}

.divButtonParametres {
    display: flex;
    justify-content: end;
}

.btnEnregistrerParametres {
    background: rgb(37 99 235);
    border: none;
    display: flex;
    align-items: center;
    color: white;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    gap: 1rem;
}

#btnEnregistrerParametres:hover {
    animation: fadeIn 0.3s ease-out;
    background-color: rgb(0, 75, 246);
}

.messageFermeture {
    padding: 20px;
}

/* Responsive*/
@media screen and (max-width: 1400px) {
    .grille {
        grid-template-columns: repeat(2, 300px);
        gap: 30px;
        padding: 20px;
    }

    .grille_module {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 30px;
    }

    .borneAccueil, .affichageSalle, .interfaceAgent, .administration {
        margin: 20px 20px;
        height: auto;
    }

    /* Borne d'accueil */
    .grilleService {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        height: auto;
    }

    .grille {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 auto;
    }

    .tickets, .temps, .satisfaction, .files {
        width: 100%;
        box-sizing: border-box;
    }

    .borneAccueil-descriptionParent,
    .affichageSalle-descriptionParent,
    .interfaceAgent-descriptionParent,
    .administration-descriptionParent {
        flex-direction: column;
        text-align: center;
    }

    .borneAccueil-description,
    .affichageSalle-description,
    .interfaceAgent-description,
    .administration-description {
        margin: 10px 0;
    }

    #borneAccueil-btn,
    #affichageSalle-btn,
    #interfaceAgent-btn,
    #administration-btn {
        width: 90%;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    .description p {
        font-size: 16px;
        text-align: center;
        padding: 0 15px;
    }

}

/*@media screen and (max-width: 1900px) {*/
/*    .divDynamique {*/
/*        grid-template-columns: 1fr;*/
/*        gap: 10px;*/
/*        padding: 10px;*/
/*    }*/

/*    .colonneGauche, .colonneMilieu, .colonneDroite {*/
/*        flex-direction: column;*/
/*    }*/


/*    .imgPub {*/
/*        position: absolute;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*    }*/

/*    .divTemperature {*/
/*        position: absolute;*/
/*        width: 100%;*/
/*        max-width: 350px;*/
/*        margin: 20px auto 0 auto;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*        height: fit-content;*/
/*        padding: 20px;*/
/*        top: 250px*/
/*    }*/

/*    .fileAttente {*/
/*        margin-top: 450px;*/
/*    }*/

/*}*/

